@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,100,100italic,300italic,300);
html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.wrapper{
	margin: 0 auto;
	padding: 0;
	width: 80%;
	height: 80%;
}

.info-matrix{
	width: 70%;
	height: 10%;
	box-sizing: border-box;
	background-color: #701112;
	text-align: center;
}

.image{
	float: right;
	padding: 10px 20px 0 20px;
}

.distance{
	margin-right: 40px;
}

.clock{
	margin-right: 30px;
}

.info-dist {
	float: right;
	color: #fff;
	font-family: Roboto;
	font-weight: bold;
	padding: 20px 10px 0 10px;
	margin: 0 auto;
}

#map {
	height: 100%;
	width: 70%;
	border: solid #701112 13px;
	box-sizing: border-box;
	border-bottom: none;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
}

.origin-input,
.destination-input {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 200px;
	margin-top: 10px;
}

.origin-input:focus,
.destination-input:focus {
	border-color: #4d90fe;
}
